<h2>users</h2>

<button (click)="navigate('new-users');">add user</button>


<!-- <app-new-users (add)="addUser($event); " ></app-new-users> -->

<br><br>
<table>
  @if(usersList.length > 1){
    <tr>
      <td > <h4> nombre</h4> </td>
      <td> <h4> apellido </h4> </td>
    </tr>
    @for(u of usersList; track u.lastName){
      <tr>
        <td>{{u.name}}</td>
        <td>{{u.lastName}}</td>
      </tr>
    }
  }
</table>

<br>
@if(usersList.length > 0){
  <button (click)="deleteLastUser(); ">delete last user</button>
}

<router-outlet></router-outlet>
